<div class="section">
    <div class="columns">
        <div class="column">
            <!-- Haus -->
            <div class="item-container">
                <div *ngFor="let item of facilites" >
                    <div class="box item has-click has-text-centered" [class.has-background-primary]="item._id == selectedFacility?._id" (click)="selectFacility(item)">
                        <div class="is-size-7 has-text-grey-lighter">{{ item._id }}</div>
                        <div>{{ item.address }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <div [formGroup]="facilityForm" class="column">
                <input formControlName="address" class="input house-input" type="text" placeholder="Addresse">
                    
                <button [class.is-loading]="facilityBtnLoading" (click)="createFacility()" class="button is-fullwidth is-primary">
                    Haus erstellen
                </button>
            </div>
        </div>
        <div class="column">
            <!-- Ebene -->
            <div class="item-container">
                <div
                    *ngFor="let item of floors" >
                    <div *ngIf="item.facilityId == selectedFacility?._id" class="item box has-click has-text-centered" [class.has-background-primary]="item._id == selectedFloor?._id" (click)="selectFloor(item)">
                        <div class="is-size-7 has-text-grey-lighter">{{ item._id }}</div>
                        <div>{{ item.floorName }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <div [formGroup]="floorForm" class="column">
                <input formControlName="facilityId" class="input" type="text" placeholder="Haus Id">
            
                <input formControlName="floorName" class="input" type="text" placeholder="Etagen Name">
            
                <button [class.is-loading]="floorBtnLoading" (click)="createFloor()" class="button is-fullwidth is-primary">
                    Etage erstellen
                </button>
            </div>
        </div>
        <div class="column">
            <!-- Wohnung -->
            <div class="item-container">
                <div *ngFor="let item of flats">
                    <div *ngIf="item.floorId == selectedFloor?._id" class="item box has-click has-text-centered"
                        [class.has-background-primary]="item._id == selectedFlat?._id" (click)="selectFlat(item)">
                        <div class="is-size-7 has-text-grey-lighter">{{ item._id }}</div>
                        <div>{{ item.flatName }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <div [formGroup]="flatForm" class="column">
                <input formControlName="floorId" class="input" type="text" placeholder="Etagen Id">
            
                <input formControlName="flatName" class="input" type="text" placeholder="Wohnungs Name">
            
                <button [class.is-loading]="flatBtnLoading" (click)="createFlat()" class="button is-fullwidth is-primary">
                    Wohnung erstellen
                </button>
            </div>
        </div>
        <div [formGroup]="roomForm" class="column">
            <!-- Raum -->
            <div class="item-container">
                <div *ngFor="let item of rooms">
                    <div *ngIf="item.flatId == selectedFlat?._id" class="item box has-click has-text-centered"
                        [class.has-background-primary]="item._id == selectedRoom?._id" (click)="selectRoom(item)">
                        <div class="is-size-7 has-text-grey-lighter">{{ item._id }}</div>
                        <div>{{ item.roomName }}</div>
                    </div>
                </div>
            </div>
            <hr>
            <div [formGroup]="roomForm" class="column">
                <input formControlName="flatId" class="input" type="text" placeholder="Wohnungs Id">
            
                <input formControlName="roomName" class="input" type="text" placeholder="Raum Name">
            
                <button [class.is-loading]="roomBtnLoading"  (click)="createRoom()" class="button is-fullwidth is-primary">
                    Raum erstellen
                </button>
            </div>
        </div>
    </div>
</div>